* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

header {
  width: 100%;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 60px;
}

header p {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 1px 1px 3px #000;
}

span {
  font-size: 20px;
}

.container {
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.simulator {
  border-radius: 11px;
  padding: 15px;
  background: white;
  color: black;
  width: 70%;
  margin: 30px auto;
  text-align: center;
}

.simulator h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.simulator label {
  display: block;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.simulator input,
.simulator select {
  width: 70%;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  border-radius: 13px;
  color: black;
}

#initial_value {
  width: 75%;
}

#monthly_value {
  width: 75%;
}

#interest {
  width: 100px;
}

#duration {
  width: 75%;
  text-align: center;
}

#interest-type {
  width: 75%;
}

.simulator button {
  margin: 20px auto 0;
  padding: 15px;
  border-radius: 13px;
  border: none;
  width: 100%;
  font-size: 33px;
  background-color: #008f02cb;
  color: white;
  transition: background-color 0.3s ease;
}

.simulator button:hover {
  background-color: #007d02af;
  cursor: pointer;
}
.loader {
  width: 60px;
  height: 60px;
  border: 3px solid #000000;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 28px;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.answer-box {
  width: 100%;
  padding-top: 25px;
  font-size: 28px;
}

.why-use {
  padding: 20px;
  background: transparent;
  color: white;
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-size: 22px;
}

@media(max-width: 600px) {
  .container {
    padding: 10px;
  }

  header h1 {
    font-size: 35px;
    padding-bottom: 5px;
  }

  header p {
    font-size: 15px;
    margin-bottom: 12px;
  }

  .simulator {
    width: 85%;
    padding: 15px;
  }

  .simulator h2 {
    font-size: 25px;
  }

  .simulator label {
    font-size: 18px;
  }

  .simulator input,
  .simulator select {
    font-size: 16px;
    width: 100%;
  }

  .simulator button {
    width: 100%;
    font-size: 18px;
    padding: 12px;
  }
  
  .answer-box {
    padding-top: 13px;
    font-size: 20px;
  }
  
  .why-use {
    font-size: 17px;
  }


  .loader {
  width: 30px;
  height: 30px;
  }
}

@media(max-width: 480px) {
  .simulator input,
  .simulator select {
    font-size: 14px;
  }

  .simulator button {
    font-size: 16px;
  }
}